body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #f4f7fd;
}

.contactUs_Container {
  width: 100%;
  height: fit-content;
  margin-bottom: 1rem;
  padding: 10px 20px;
}

.formInfo {
  width: 400px;
  margin-bottom: 10px !important;
}

.formContent {
    width: 400px;
    margin-bottom: 10px !important;
}

