/* admin css */
.adminContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #f4f7fd;
}

.hidden {
  width: 0px;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 5px;
  text-align: center;
  flex: 0.05;
  transition: all 0.6s;
  background-color: white;
  border-radius: 10px;
}

button {
  cursor: pointer;
  border: none;
}

.sideBar {
  z-index: 1;
  overflow-x: hidden;
  padding-top: 5px;
  transition: all 0.6s;
  flex: 0.2;
  width: 100%;
  background-color: white;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.sideBar li {
  text-align: left !important;
  list-style: none;
  margin-top: 20px;
  line-height: 2rem;
  border-bottom: 3px solid grey;
  color: #999;
}

.collapseIcon li {
  list-style: none;
  line-height: 2rem;
  margin-top: 20px;
  color: #999;
}

.dashboard {
  flex: 0.8;
  width: 100%;
  background-color: #f4f7fd;
}

.fulldashboard {
  flex: 0.95;
  width: 100%;
  background-color: #f4f7fd;
}

/* expert management */
.globalSearch {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.globalSearch input {
  margin-right: 10%;
  height: 40px;
  max-width: 25%;
  width: 100%;
  border: 2px solid #1b2b9c;
}

label {
  width: 50%;
}

.dataTable .project_dataTable {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.dataHeader {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 11% 13% 20% 15% 13% 12%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  font-weight: 600;
}

.dataHeader div {
  margin-bottom: 0.5rem;
}

.dataBody {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 11% 13% 20% 15% 13% 12%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

/* project matching */
.project_dataHeader {
  display: grid;
  grid-template-columns: 10% 8% 14% 15% 20% 15% 10% 8%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.project_dataBody {
  display: grid;
  grid-template-columns: 10% 8% 14% 13% 21% 15% 7% 11%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

/* expert css */
.expertContainer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f4f7fd;
}

.userProfile {
  display: flex;
  flex: 0.8;
  width: 100%;
  background-color: #f4f7fd;
}

.fulluserProfile {
  display: flex;
  flex: 0.95;
  width: 100%;
  background-color: #f4f7fd;
}

.profileForm {
  flex: 0.7;
  width: 100%;
  height: 100%;
}

.profile {
  flex: 0.3;
  width: 100%;
  height: 100%;
}

.userimg {
  margin-top: 15px;
  width: 100%;
  height: 20vh;
  text-align: center;
}

.userimg button {
  font-size: 1rem;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background: #00216d;
  height: 40px;
  width: 30%;
  color: white;
}

/* job card application */
.jobapplicationCard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

/* pagination view*/
.paginationBttns {
  margin-top: 10%;
  width: 100%;
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
}

.paginationBttns a {
  display: inline-block;
  background:lightgray;
  color: #fff;
  padding: 10px 12px;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 0 0.4rem rgb(0 0 0 / 50%);
  text-align: center;
  vertical-align: middle;
  width: 100%;
  max-width: 150px;
  height: 2.7rem;
  margin: 1rem 0;
  border-radius: 3px;
  text-transform: uppercase;
}

.paginationBttns a:hover {
  cursor: pointer;
  text-decoration: none;
}

/* pdf */
#pdfInfo {
  padding: 10px;
  width: 587px;
  height: fit-content;
  font-size: 14px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

#pdfInfo strong,
ul,
li {
  padding: 10px;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}

@media only screen and (max-width: 650px) {
  .sideBar {
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }

  .hidden {
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }

  .dashboard {
    flex: 1;
  }

  .fulldashboard {
    flex: 1;
  }

  .collapseIcon {
    padding: 10px;
    height: 8vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
  }
}

/* profile content */
.profile-content {
  width: 100%;
  padding: 15px 10px;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 12%);
  height: fit-content;
  border-radius: 5px;
  min-height: 15vh;
}
